$lightsalmon:	#FFA07A;
$salmon:	#FA8072;	
$darksalmon:	#E9967A;
$lightcoral:	#F08080;
$indianred:	#CD5C5C;
$crimson:	#DC143C;
$firebrick:	#B22222;	
$red:	#FF0000;
$darkred:	#8B0000;
$maroon:	#800000;	
$tomato:	#FF6347;	
$orangered:	#FF4500;	
$palevioletred:	#DB7093;
$white: white;

$default-soft: $lightcoral;
$default-base: $indianred;
$default-dark: $crimson;

$soft-shadow: 4px 4px 5px rgba(71, 71, 71, 0.425);

